[
  {
    "server": "localhost",
    "user": "root",
    "password": "",
    "database": "TU_BASE_DE_DATOS_LOCAL",
    "port": "",
    "socket": "/Applications/XAMPP/xamppfiles/var/mysql/mysql.sock"
  }
]
