openapi: 3.0.3
info:
  title: API Caddy
  description: Documentación de la API de Caddy para autenticación y servicios.
  version: "1.0.0"

servers:
  - url: https://www.caddy.com.ar/sandbox/api
    description: Sandbox
  - url: https://www.caddy.com.ar/api
    description: Producción

tags:
  - name: Autenticación
    description: Login y manejo de tokens
  - name: Servicios
    description: Operaciones relacionadas a la gestión de servicios (listado, consulta y creación)

paths:
  /auth:
    post:
      tags: [Autenticación]
      summary: Login de usuario
      description: Devuelve un token de autenticación válido para usar en los demás endpoints.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                usuario:
                  type: string
                  example: mcisterna
                password:
                  type: string
                  example: 123456
      responses:
        "200":
          description: Token generado correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: 628bdb405bf8ed31b1af72f999d10e75
        "401":
          description: Usuario o contraseña inválidos

  /servicios:
    get:
      tags: [Servicios]
      summary: Listado de servicios
      description: Devuelve los servicios disponibles con filtros de estado y paginación.
      parameters:
        - name: page
          in: query
          schema:
            type: integer
          example: 1
        - name: token
          in: query
          schema:
            type: string
          required: true
        - name: estado
          in: query
          schema:
            type: integer
            enum: [0, 1]
          description: Estado de los servicios
      responses:
        "200":
          description: Lista de servicios
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    nombre:
                      type: string
                    estado:
                      type: string

  /servicios/{codigo}:
    get:
      tags: [Servicios]
      summary: Consulta servicio por Código de Seguimiento
      description: Devuelve la información de un servicio específico.
      parameters:
        - name: codigo
          in: path
          required: true
          schema:
            type: string
            example: INPRAZOKW
        - name: token
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Información del servicio
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  codigo:
                    type: string
                  estado:
                    type: string
        "404":
          description: Servicio no encontrado
  /sandbox/api/servicios:
    post:
      tags: [Servicios]
      summary: Crear un servicio
      description: |
        Permite registrar un nuevo servicio.
        Requiere un `token` válido obtenido desde el endpoint de login.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                NombreCompleto: { type: string }
                Direccion: { type: string }
                Ciudad: { type: string }
                CodigoPostal: { type: string }
                token: { type: string }
                Dni: { type: string }
                Mail: { type: string }
                Telefono: { type: string }
                Cantidad: { type: integer }
                Servicio: { type: integer }
                ValorDeclarado: { type: string }
                Cobranza: { type: string }
                idProveedor: { type: string }
                Observaciones: { type: string }
                Origen:
                  type: array
                  items:
                    type: object
                    properties:
                      idProveedor: { type: string }
                      Nombre: { type: string }
                      Direccion: { type: string }
                Box:
                  type: array
                  items:
                    type: object
                    properties:
                      Length: { type: string }
                      Width: { type: string }
                      Height: { type: string }
                      Weight: { type: string }
              example:
                NombreCompleto: "Elsa Fig"
                Direccion: "MI CASA"
                Ciudad: "TURRADO JUAREZ 1377"
                CodigoPostal: "5000"
                token: "628bdb405bf8ed31b1af72f999d10e75"
                Dni: "223334434"
                Mail: "prodriguez@caddy.com.ar"
                Telefono: "0351152462825"
                Cantidad: 1
                Servicio: 3
                ValorDeclarado: "10000"
                Cobranza: "107690"
                idProveedor: "I2757268"
                Observaciones: "ELSA VIVE EN UNA CASA..."
                Origen:
                  - idProveedor: ""
                    Nombre: ""
                    Direccion: ""
                Box:
                  - Length: "10"
                    Width: "10"
                    Height: "10"
                    Weight: "10"
      responses:
        "200":
          description: Servicio creado correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: integer, example: 12345 }
                  codigoSeguimiento: { type: string, example: "INPRAZOKW" }
                  estado: { type: string, example: "Cargada" }
      x-codeSamples:
        - lang: cURL
          label: cURL Example
          source: |
            curl --location 'https://www.caddy.com.ar/sandbox/api/servicios' \
            --header 'Content-Type: application/json' \
            --data-raw '{
              "NombreCompleto" : "Elsa Fig",
              "Direccion" : "MI CASA",
              "Ciudad" : "TURRADO JUAREZ 1377",
              "CodigoPostal": "5000",
              "token" : "628bdb405bf8ed31b1af72f999d10e75",
              "Dni" : "223334434",
              "Mail":"prodriguez@caddy.com.ar",
              "Telefono" : "0351152462825",
              "Cantidad" : 1,
              "Servicio" : 3,
              "ValorDeclarado" : "10000",
              "Cobranza" : "107690",
              "idProveedor" : "I2757268",
              "Observaciones" : "ELSA VIVE EN UNA CASA COLOR GRIS...",
              "Origen" : [
                { "idProveedor": "", "Nombre": "", "Direccion": "" }
              ],
              "Box" : [
                { "Length" : "10", "Width" : "10", "Height" : "10", "Weight" : "10" }
              ]
            }'
        - lang: Java
          label: Java OkHttp
          source: |
            OkHttpClient client = new OkHttpClient().newBuilder()
              .build();
            MediaType mediaType = MediaType.parse("application/json");
            RequestBody body = RequestBody.create(mediaType, "{\n\"NombreCompleto\" : \"Elsa Fig\", ... }");
            Request request = new Request.Builder()
              .url("https://www.caddy.com.ar/sandbox/api/servicios")
              .method("POST", body)
              .addHeader("Content-Type", "application/json")
              .build();
            Response response = client.newCall(request).execute();
